.container {
    flex-direction: row;
}

.base-container {
    height: 90%;
    width: 100%;
    justify-content: start;
    margin: 0.5em;
    padding-left: 0;
    padding-right: 0;

    box-shadow: 2px 2px 2px #BDB7B7;
}

h2 {
    margin-bottom: 0.5em;
}

.lesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;

    min-height: 2em;
    width: 100%;
    background: #D8A9B4 0 0 no-repeat padding-box;
    border: 1px solid #D8A9B4;
    box-shadow: 2px 2px 2px #BDB7B7;
}

.add-lesson {
    background: transparent;
    border: none;
    color: #D8A9B4;
    font-size: 2em;
    margin-bottom: 1vh;
}

@media only screen and (max-device-width: 1030px) {
    .container {
        height: auto;
        flex-direction: column;
        overflow-y: auto;
        padding-right: 1em;
        padding-left: 1em;
    }

}