body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    background: #EBEAEA 0 0 no-repeat padding-box;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font: normal normal bold 20px/23px Trebuchet MS;
}

.day-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;

    background: #F8F7F7 0 0 no-repeat padding-box;
    border: 1px solid #D8A9B4;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #BDB7B7;
}

.day-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #D8A9B4;
    /*margin-bottom: 1vh;*/
    padding: 1vh 0;
}

.lesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;

    min-height: 2em;
    width: 100%;
    background: #2E4C7C 0 0 no-repeat padding-box;
    border: 1px solid #D8A9B4;
    box-shadow: 2px 2px 2px #BDB7B7;
}

.add-lesson {
    background: transparent;
    border: none;
    color: #D8A9B4;
    font-size: 2em;
    margin-bottom: 1vh;
}