.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    justify-items: center;
}

.bottom-bar {
    position: absolute;
    left: 0;
    bottom: 0;

    background: transparent linear-gradient(180deg, #2E4C7C4D 0%, #2E4C7CEB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #2E4C7C3B;
    opacity: 1;

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.co-workers {
    display: flex;
    flex-direction: row;
}

.task-list {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.task {
    padding: 0;
    margin: 0 0 0.5em;
    width: 80%;
    align-self: center;
}

.task .function-button {
    font-size: 1em;
}

h2 {
    margin: 0 auto 1em auto;
}

h3 {
    padding: 0.1em;
    margin: 0;
    font-size: 1em;
}