.container {
    width: 100vw;
    height: 100vh;
    background: #EBEAEA 0% 0% no-repeat padding-box;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
